/*ABOVE THE FOLD*/
#one {
    min-height: 65vh;
    
    h1 {
        width:100vw;
        max-width: 100%;
        margin-top: 15vw;
        .head-set-one, .head-set-two {
            text-align: center;
            color: #fff;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
        }
        .head-set-one {font-size: 1.5em;font-family: 'Pacifico', cursive;margin-bottom: 50px;}
        .head-set-two {font-size: 0.5em;font-family: 'Roboto Slab', serif;}
    }
    video {
        position: fixed;
        z-index: -9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

}
#two {
    min-height: 1vh;
    padding: 2vh;
    
    .obj-center {
        position: relative;
        margin: auto;
        width: 50%;
        
        @media (max-width:600px){
            width:100%;
        }
        
        .btn {
            position: absolute;
            top:10px;
            width:100%;
        }
    }
}
#three {
    padding: 20vh 0;
    
    h2 {
        margin-top: 7vw;
        font-family: 'Roboto Slab', serif;
        font-size: 3em;
        font-weight: 900;
    }
    p {
        padding-right: 5vw;
    }
    img {width:100%; height: auto;}
}

.fade {
    min-height: 40vh;
    opacity: 1;
}