
.side-nav {
    a {
        cursor: pointer;
        padding:0 13px;
    }
}

main {
    min-height: 100vh;

    #section_one.header {
        position: relative;
        padding:0;margin:0;
        height: 50vh;
        background:
            linear-gradient(
            rgba(0,0,0, 0.4),
            rgba(0,0,0, 0.6)
            ),
        url(../../assets/materials/img/interface/interface-head-bg.jpg) 0% 100% fixed;
        background-size: cover;

        .profile-info {
            position: absolute;
            bottom:-16vh;
        }
        img {
            width:100%;
            height: auto;
            border-radius: 50%;
        }

        ul.user-info {
            margin-top: 5vh;
            li {
                color: #000;
                &:nth-child(1) {
                    font-size: 3em;
                    font-weight: 900;
                    color: #fff;
                }
                &:nth-child(2),&:nth-child(3),&:nth-child(4){
                    font-size: 0.8em;
                }

            }
        }
    }

}
